.bg {
  min-height: 100vh;
  width: auto;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af, #2c3e50);
  font-family: 'Familjen Grotesk', sans-serif;

  .exoplanets-welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }


  .exoplanets-welcome-text {
    font-size: 1.2rem;
  }
}

