<div class="bg">
  <app-navbar></app-navbar>
  <div class="container text-center d-flex justify-content-center">
    <div class="book">
      <ul class="list-group">
        <li class="list-group-item">
          <h2>{{asteroid.name}}</h2>
        </li>
        <li class="list-group-item">
          <h3><strong>Diameter:</strong> {{asteroid.diameter}} KM</h3>
        </li>
        <li class="list-group-item">
          <h4>{{asteroid.dangerous ? 'Potentially dangerous' : 'Not Dangerous'}}</h4>
        </li>
        <li class="list-group-item">
          <form>
            <div class="mb-3">
              <label class="form-label" for="formFile">Upload an image</label>
              <input (change)="selectImage($event)" class="form-control" id="formFile" type="file">
            </div>
            <button (click)="uploadImage()" class="btn btn-primary" type="submit">Upload</button>
          </form>
        </li>
      </ul>
      <div class="cover">
        <img alt="asteroid image" src="http://localhost:8090/api/asteroids/uploads/img/{{asteroid.image}}">
      </div>
    </div>
  </div>
</div>
