.bg {
  min-height: 100vh;
  width: auto;
  background-color: #020231;
  font-family: 'Familjen Grotesk', sans-serif;

  .stars-welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
  }

  .stars-welcome-text {
    font-size: 1.2rem;
  }
}

