<div class="bg">
    <app-navbar></app-navbar>
    <div class="container text-center">
      <div class="stars-welcome-container">
        <h1 class="stars-welcome-title">Welcome to the Star Tracker</h1>
        <p class="stars-welcome-text">Use the search box and find information about any star in the universe.</p>
      </div>
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search Stars</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
