.bg {
  background-color: #111;
  color: #d5d5d5;
  padding-bottom: 2rem;
  font-family: 'Familjen Grotesk', sans-serif;
}

.row {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

img {
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}
