<div class="bg">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-dark table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Diameter</th>
          <th>Dangerous</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let asteroid of asteroids">
          <td>{{asteroid.id}}</td>
          <td>{{asteroid.name}}</td>
          <td>{{asteroid.diameter}}</td>
          <td>{{asteroid.dangerous}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator
      [length]="collectionSize" [pageSize]="pageSize"
      [pageSizeOptions]="[15, 25, 50]"
      (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
