<div class="bg">
  <app-navbar></app-navbar>
  <div class="container text-center">
    <div class="welcome-container text-white">
      <h1 class="welcome-title">Welcome to the Asteroid Tracker</h1>
      <p class="welcome-text">Use the search box and find information about any asteroid on the solar system.</p>
    </div>
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search Asteroids</mat-label>
      <input matInput [(ngModel)]="searchName" (input)="searchAsteroids()">
    </mat-form-field>
    <div class="card-container text-center">
      <mat-card *ngFor="let asteroid of asteroids" class="asteroid-card" routerLink="/asteroids/{{asteroid.id}}">
        <mat-card-content>
          <p class="card-title">{{asteroid.name}}</p>
          <p class="card-text">Diameter: {{asteroid.diameter}} Km</p>
          <p class="card-text">Dangerous: {{asteroid.dangerous ? 'Yes' : 'No'}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
