:host {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.home-bg {
  background-color: #000000;
  height: 100%;
}

